@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 255,
    255,
    255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 245,
      245,
      245;
    --background-end-rgb: 245,
      245,
      245;
  }
}

body {
  color: rgb(0,
    0,
    0);
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    font-family: 'Roboto', sans-mono;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.wavy-background {
  position: relative;
  width: 100%;
  height: 300px;
  /* Adjust height as needed */
  background: linear-gradient(to right, #ffffff 50%, #f0f0f0 50%);
  background-size: 100% 20px;
  /* Wave height */
}

.wavy-background:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20px;
  /* Wave height */
  background: repeating-linear-gradient(to right,
      #ffffff,
      #ffffff 25%,
      #f0f0f0 25%,
      #f0f0f0 50%);
  background-size: 100% 40px;
  /* 2 times the wave height */
  transform: translate3d(0, -50%, 0);
  /* Adjust translation for vertical positioning */
}
