@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 255,
    255,
    255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 245,
      245,
      245;
    --background-end-rgb: 245,
      245,
      245;
  }
}

body {
  color: rgb(0,
    0,
    0);
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    font-family: 'Roboto', sans-mono;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
